
.main-select-deployment-type{
    width: 475px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 6%;
}

.select-deployment-type-select-button{
    margin-top: 40px;
    
}

.select-deployment-type-select-button select{
    background-color: #D5E9FB;
}

.select-deployment-type-submit-button button{
    width: 100%;
    margin-top: 50px;
    height: 35px;
    /* background-color: #0D99FF; */
    border: black solid 3px;
    /* color: white; */
    border-radius: 10px;
    border: 1px solid #000;
    /* background: #0D99FF; */
    cursor: pointer;
    background-color: #49aef6;
    color: white;

    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.select-deployment-type-submit-button button:hover{
    background-color: #0D99FF;
}