.Home-Auth-nav-bar{
    /* background-color: aquamarine; */
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    /* border-style:black 10px; */
    border: 1px solid black;
}

.home-left-nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 5px;
    width: 345px;
}

.home-right-nav{
    DISPLAY: flex;
    gap: 20px;
    margin-right: 45PX;
}

.Home-Auth-nav-bar .home-left-nav .LogoImage{
    width: 130px;
    height: 55px;
    flex-shrink: 0;
    margin-left: 35px;
}

.Home-Auth-nav-bar .home-left-nav .LogoText{
    display: flex;
    width: 191px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.home-Button button{
    background-color: #49aef6;
    color: white;
    border: 10px;
}

.home-Button button:hover{
    background-color: #0D99FF;
}

.home-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.home-main-page p{
    /* background-color: #0D99FF; */
    margin-top: -5px;
    height: 25px;
}

.home-main-page button{
    background-color: #0D99FF;
    color: white;
    border: 10px;
    margin-top: 32px;
}

.home-main-page button:hover{
    background-color: rgb(13, 106, 172);
}